<h1>This is secret page!</h1>

<p>you found me!</p>

<img src="http://www.photosforclass.com/download/flickr-5135542881">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>